<script>
    jQuery(document).ready(function ($) {
        window.documents = @Html.Raw(ViewBag.Documents);
        
        $.each(documents, function(index, document) {
            $('#documents tbody').append(renderDocument(document));
        });
        // move to on http://api.jquery.com/live/
        $("#documents").on("click",".edit",function() {
            editDocument($(this));
        });
        
        $("#documents").on("click",".save",function() {
            saveEditDocuemnt($(this));
        });
        
        $("#documents").on("click",".cancel",function() {
            cancelEdit($(this));
        });
        
        $("#documents").on("click",".delete",function() {
            deleteDocuemnt($(this));
        });
    });
</script>

<table id="documents">
    <tbody>
    </tbody>
</table>